.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.a{
  margin: 0px 0px 0px -46px;
 
}



ul {
  list-style-type: none;
  padding-left: 20px;
  
}

.folder-container {
  border: 3px solid #b9b3b3; 
  margin: 10px; 
  padding: 5px;
  height: 700px;
  width: 250px;
  /* margin-left: 0px; */
}


.folder-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media (max-width: 600px) {
  .folder-container {
    width: 100%;
  }
}


.dropdown-container {
  margin-bottom: 10px;
}
