

.navbar{

  background-color: #14515e;
 /* background-image:url(Navbar-Background.png);  */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}





*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
 html, body{ 
  height: 100vh;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
 color:black; 
}
 
.main1{
  display: flex;
  height: 100vh;
}
.sidebar{
 
  width: 250px;
  flex-shrink: 0;
  background-color:#202e50;
  height: 700px;
  overflow: auto;

  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

}
 
 
.sidebar-item{
  padding: .75em 1em;
  display: block;
  transition: background-color .15s;
  border-radius: 5px;
}
.sidebar-item:hover{
  background-color: rgba(255, 255, 255, .1);
}
 
.sidebar-title{
  display: flex;
  font-size: 1.2em;
  justify-content: space-between;
  color:white;
}
.sidebar-title span i{
  display: inline-block;
  width: 1.5em;
}
.sidebar-title .toggle-btn{
  cursor: pointer;
  transition: transform .3s;
}
.sidebar-item.open > .sidebar-title .toggle-btn{
  transform: rotate(180deg);
}
.sidebar-content{
  padding-top: .25em;
  height: 0;
  overflow: hidden;
}
.sidebar-item.open > .sidebar-content{
  height: auto;
}
 
.sidebar-item.plain{
  color:white;
  text-decoration: none;
}
.sidebar-item.plain:hover{
  text-decoration: underline;
}
.sidebar-item.plain i{
  display: inline-block;
  width: 1.7em;
}

