.sidebar {
  width: 250px;
  flex-shrink: 0;
  background-color: #52595D;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  min-height: 100vh; /* Set min-height to 100% of viewport height */
}

.sidebar-item {
  padding: .75em 1em;
  display: block;
  transition: background-color .15s;
  border-radius: 5px;
}

.sidebar-item:hover {
  background-color: rgba(255, 255, 255, .1);
}

.sidebar-title {
  display: flex;
  font-size: 1.2em;
  justify-content: space-between;
  color: white;
}

.sidebar-content {
  padding-top: .25em;
  height: auto; /* Adjusted to auto to allow dynamic height */
  overflow: hidden;
}

.sidebar-item.open > .sidebar-content {
  height: auto;
}

.sidebar-item.plain {
  color: white;
  text-decoration: none;
}

.sidebar-item.plain:hover {
  text-decoration: underline;
}

.sidebar-item.plain i {
  display: inline-block;
  width: 1.7em;
}
