


.bg-img {

  /* background: url('new\ bg4.png') center/cover no-repeat; */
  background-color: #C9C0BB;

  height: 92.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  border-radius: 1px solid white;

}
 

.card {

  background: rgba(255, 255, 255, 0); 
  backdrop-filter: blur(15px); 
  border-radius: 55px;
  padding: 20px;
  box-shadow: -20px 20px 9px rgba(50, 50, 50, 50);
  height: 400px;
 
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
 
} 


.card-title {
    color:white;
   
    
  }
 
.card-body {
 
    color: white;
    font-size: large;

    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
   
}
 
.login-control {
 
  background: rgba(255, 255, 255, 0); 
  border: 1px solid rgb(8, 8, 8);
  border-radius: 55px;
  margin-bottom: 10px;
  padding: 10px;
  backdrop-filter: blur(10px); 
  font-size: medium;

}
.form-label {
    color: black;
  }
 
.sub-btn {
 justify-content: center;
  /* background: rgba(31, 128, 226, 0.7);  */
  background: linear-gradient(45deg, #d36605f6, #f2bf52);
  border: none;
  border-radius: 30px;
  border-color: 2px solid #14515e;
   width: 100px; 
  /* padding: 10px; */
  cursor: pointer;
  color: black;
  backdrop-filter: blur(10px);
  font-weight: bold;
  box-shadow: -9px 6px 9px rgba(50, 0, 0, 0.1);


  
  
  
}
 
.sub-btn:onclick {

  background:  hsl(191, 65%, 22%); 
  border: 2px solid white;
  
}
.d-grid {
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  
}
.text-danger {
  font-size: medium;
  color: #dc3545;

  text-align: center;
  /* margin-top: 10px;  */
}
