.tabad {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  overflow-y: auto;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #736f6e #e1d9d1;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #736f6e;
  }

  &::-webkit-scrollbar-track {
    background-color: #e1d9d1;
  }
}
.tabad table {
  margin-bottom: 0;
}

.tablebutton {
  width: 100%;
}

.tabab {
  width: 50%;
  background-color: #736f6e;
  color: #fff;
  height: 50px;
  border: 1px solid black;
}
.tabac {
  width: 50%;
  background-color: #736f6e;
  color: #fff;
  height: 50px;
  border: 1px solid black;
}

.tab div {
  margin-bottom: 10px;
  overflow: hidden;
}

.tab button {
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 1px solid black;
}

th,
td {
  border: 1px solid #c9c0bb;
  /* border: 1px solid #E1D9D1; */
  text-align: left;
  padding: 8px;
  width: 40px;
}

th {
  background-color: #e1d9d1;

}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  margin-top: 20px;
  /* margin-left: 20px; */
}

.pagination li {
  margin: 0 5px;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: background-color 0.3s;
  background-color: #e1d9d1;
}

.pagination li:hover {
  background-color: #ddd;
}

.pagination li.active {
  background-color: #736f6e;
  color: #fff;
}

/* *{
overflow: auto;
 } */

.sub-heading2 {
  font-size: large;
  font-weight: 700;
  margin-right: 20px;
  margin-left: 5px;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  /* margin-top: 15px; */
}

.exportbutton {
  margin-left: 20px;
  width: fit-content;
  height: 37px;
  border-radius: 20px;
  /* margin-top: 14px; */
  background-color: #e1d9d1;
  border: 2px solid black;
}

.form-control1 {
  width: 25%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 2px;
  border-radius: 6px;
  /* margin-top: 15px; */
  border: 1px solid #dee2e6;
}
.form-control1:focus {
  border: 5px solid#b8b9d5;
}
.errortab {
  margin-top: -7px;
  color: red;
  margin-left: 98px;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.header-cell{
  width: 350px;
}

.filter-icon{
  float: right;
  margin-top: 7px;
  color: #736f6e;
 
}

.header-cell1{
  width: 380px;

}

.header-cell1 span svg,
.header-cell span svg {
  margin-left: 10px; 
  color: #736f6e; 
  
}

.filterinput{
  /* padding-right: 30px; */
  margin-left: 30px;
  border-radius: 8px;
}

