

.tabad {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  overflow-y: scroll;
  overflow-x: scroll;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #736F6E #E1D9D1; /* thumb color track color (For Firefox) */

  /* For WebKit (Chrome, Safari, Edge) */
  &::-webkit-scrollbar {
    width: 10px; /* width of the scrollbar */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #736F6E; /* color of the thumb */
  }

  &::-webkit-scrollbar-track {
    background-color: #E1D9D1; /* color of the track */
  }
}
  
.tablebutton{
  width: 100%;
}
  
 .tabab {
   width: 50%;
   background-color: #736F6E;
   color: #fff;
   height: 50px;
   border: 1px solid black;
 }
 .tabac {
   width: 50%;
   background-color: #736F6E;
   color: #fff;
   height: 50px;
   border: 1px solid black;
 }

 .tab div {
   margin-bottom: 10px;
 }
  
 .tab button {
   padding: 10px;
   margin-right: 10px;
   font-size: 16px;
   cursor: pointer;
 }
  
 table {
   width: 100%;
   border-collapse: collapse;
   margin-top: 20px;
   border: 1px solid black;

 }
  
 th, td {
  border: 1px solid #C9C0BB;
   /* border: 1px solid #E1D9D1; */
   text-align: left;
   padding: 8px;
  
 }
  
 th {
   background-color: #E1D9D1;
   ;
 }

 tbody tr:nth-child(even) {
   background-color: #f9f9f9;

 }

 .pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  margin-top: 20px;
  margin-left: 350px;
}
 
.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
}
 
.pagination li {
  margin: 0 5px;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: background-color 0.3s;
}
 
.pagination li:hover {
  background-color: #ddd;
}
 
.pagination li.active {
  background-color: #007bff;
  color: #fff;
}
 
 

   
 }
